<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>网页左侧垂直导航菜单 - 源码之家</title>
<link href="/static/css/basic.css" rel="stylesheet" type="text/css">
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/index.js"></script>

</head>
	<body>
		<ul>
			<li><A class="hover" href="#">前端交流</A></li>
			<li><A href="#">交互设计</A></li>
			<li><A href="#">视觉设计</A></li>
			<li><A href="#">用户研究</A></li>
			<li><A href="#">设计茶吧</A></li>
			<li><A href="#">前端交流</A></li>
			<li><A href="#">团队生活</A></li>
			<div id="lanPos"></div>
		</ul>
<div style="text-align:center;">
<p>来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
</div>
</body>
</html>

